# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment files
venv/
env/
*.env

# Ignore package build directories
dist/
build/
*.egg-info/

# Ignore local development settings
*.env

# Ignore editor and IDE files
.vscode/
.idea/
*.pydevproject
*.pycproject
*.pycharm.*
*.swp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dependency management files
pip-lock.txt
pipenv.lock

# ignore model files
models/
# ignore data files
data/